<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="Members.Properties.Settings.MemberCardConnectionString"
        connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MemberCard.mdb"
        providerName="System.Data.OleDb" />
    <add name="RetirementCenter.Properties.Settings.datamConnectionString"
        connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\datam.mdb"
        providerName="System.Data.OleDb" />
    <add name="RetirementCenter.Properties.Settings.RetirementCenterConnectionString"
        connectionString="Data Source=FALSEX-PC;Initial Catalog=RetirementCenter;Persist Security Info=True;User ID=sa;Password=123456"
        providerName="System.Data.SqlClient" />
    <add name="RetirementCenter.Properties.Settings.webConnectionString"
        connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\web.mdb;Persist Security Info=True"
        providerName="System.Data.OleDb" />
    <add name="RetirementCenter.Properties.Settings.bamanatConnectionString"
        connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bamanat.mdb;Persist Security Info=True"
        providerName="System.Data.OleDb" />
    <add name="RetirementCenter.Properties.Settings.ETSMOBILEConnectionString"
        connectionString="Data Source=FALSEX-PC;Initial Catalog=ETSMOBILE;Persist Security Info=True;User ID=sa;Password=123456"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
